.add-post-button {
    text-decoration: none;
    padding: 10px;
    border: 1px solid royalblue;
    border-radius: 5px 5px 5px;
    background-color: rgba(204, 207, 240, 0.596);
    font-weight: bolder;
    color: black;
}

.post {
    background-color: #eee;
    margin: 1em;
    padding: 30px;
    border: 2px solid rgb(201, 196, 196);
}

h2 {
    margin-bottom: 1em;
}